.formulario{
    height: 150px;
}
.formul{
    background-color: #e5e7ec;
    border-radius: 5%;
    
}

//Formulario Campus//
.formul-campus{
    height: 300px;
    background-color: $naranja;
    border-radius: 5%;
    margin: 128px 0;
    
}




